.header-bg {
	background-color: $primary-color;

	.header {
		display: flex;
		place-items: center;
		padding: 1.35rem 0;

		.logo {
			margin-right: auto;
		}
		.navbar {
			order: 2;
			margin-left: 0;
			margin: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 3;
					margin: 0;
					margin-left: auto;
				}
			}
			.navlist {
				display: flex;
				place-items: center;
				gap: 1.5rem;
				margin: auto;
				transition: all 0.3s;

				& .active {
					background-color: $secondary-color;
					padding: 0.5rem 1rem;
					border-radius: $border-rounded;
				}
				h3 {
					cursor: pointer;
					transition: all 0.3s;
				}
				:not(.active):hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
				@media screen and (max-width: 950px) {
					& {
						position: absolute;
						flex-direction: column;
						place-content: center;
						row-gap: 2rem;
						background-color: $primary-color;
						width: 100%;
						height: 100%;
						left: 0;
						top: -100%;
						transition: all 0.4s;
					}
					&.open {
						left: 0;
						top: 0;
						z-index: 99;
						transition: all 0.4s;

						&.open h3 {
							font-size: $h1-font-size;
						}
					}
				}
			}
		}
		/* hamburger button */
		.hamburger {
			cursor: pointer;
			position: relative;
			width: 24px;
			height: 24px;
			transition: all 0.3s;
			background-color: transparent;
			border: 0;
			display: none;
			z-index: 100;

			&:hover {
				transform: scale(1.15);
			}

			@media screen and (max-width: 950px) {
				& {
					display: block;
				}
			}
		}

		.hamburger-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transition: all 0.3s;
		}
		.open .hamburger-top {
			transform: rotate(45deg) translate(6px, 6px);
		}
		.hamburger-middle {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(8px);
			transition: all 0.3s;
		}
		.open .hamburger-middle {
			display: none;
		}
		.hamburger-bottom {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(16px);
			transition: all 0.3s;
		}
		.open .hamburger-bottom {
			transform: rotate(-45deg) translate(-6px, 6px);
		}

		.profile {
			order: 3;
			margin: 0;
			margin-left: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 2;
					margin-left: 0;
					margin: auto;
				}
			}
			display: flex;
			place-items: center;
			gap: 1rem;
			margin-left: auto;

			& span {
				color: $offWhite-color;
			}
			& .username {
				color: $lightGray-color;
				padding-left: 2px;
			}
		}
	}
}

//Footer
.footer-bg {
	background-color: $primary-color;

	.footer {
		display: grid;
		grid-template-columns: repeat(4, minmax(0px, 1fr));
		column-gap: 4rem;
		padding: 4rem 0;

		@media screen and (max-width: 800px) {
			& {
				grid-template-columns: repeat(1, minmax(0px, 1fr));
				padding: 2rem 0;
			}
		}

		.footer-info {
			@media screen and (max-width: 800px) {
				& {
					text-align: center;
				}
				& .social-icons {
					justify-content: center;
				}
			}
		}
		.footer-logo {
			margin-bottom: 1.5rem;
		}
		p {
			color: $lightGray-color;
			margin-bottom: 1.5rem;
		}
		.social-icons {
			display: flex;
			gap: 1.5rem;
		}
		.footer-company {
			margin-top: 3.5rem;

			@media screen and (max-width: 800px) {
				& {
					display: grid;
					grid-template-columns: 1fr 1fr;
					place-items: center;
					align-items: baseline;
				}
			}
			h2 {
				font-size: 1.125em;
				font-weight: $font-bold;
			}
			h3 {
				color: $lightGray-color;
				margin: 1rem 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
			.influencer-mobile {
				display: none;

				@media screen and (max-width: 800px) {
					& {
						display: flex;
						flex-direction: column;
					}
				}
				h3 {
					margin: 0.5rem 0;
				}
			}
			.advertise-mobile {
				display: none;

				@media screen and (max-width: 800px) {
					& {
						display: flex;
						flex-direction: column;
						margin-top: 1rem;
					}
				}

				h3 {
					margin: 0.5rem 0;
				}
			}
		}
		.influencer,
		.advertise {
			margin-top: 3.5rem;
			h2 {
				font-size: 1.125em;
				font-weight: $font-bold;
			}
			h3 {
				color: $lightGray-color;
				margin: 1rem 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
			@media screen and (max-width: 800px) {
				& {
					display: none;
				}
			}
		}
	}
	.copyright {
		display: flex;
		padding-bottom: 2rem;

		@media screen and (max-width: 800px) {
			& {
				flex-wrap: wrap;
				text-align: center;
			}
			h3 {
				width: 100vw;
				order: 2;
			}
			.terms {
				margin: auto;
				margin-bottom: 2rem;
			}
			.terms h3 {
				width: auto;
			}
		}

		h3 {
			margin-right: auto;
			color: $lightGray-color;
		}
		.terms {
			display: flex;
			margin-left: auto;
			gap: 2rem;

			h3 {
				color: $lightGray-color;
				transition: all 0.3s;

				&:hover {
					cursor: pointer;
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
		}
	}
}

//rangeslider
.rangeslider {
	background: linear-gradient(to right, #892aff 0%, #23b2ee 100%);
	display: flex;
	align-content: stretch;
	height: 4px !important;
	border-radius: 8px 8px 0 0;
}

.rangeslider::after {
	content: '';
	position: relative;
	z-index: 1;
	flex: 1 1 auto;
	width: auto;
	height: 100%;

	background: #2f3a40;
	border-radius: 0 8px 0 0;
}

.rangeslider .rangeslider__fill {
	background: $purple-color !important;
	flex: 0 0 auto;
	box-shadow: none !important;
}

.rangeslider .rangeslider__handle {
	z-index: 2;
	background: $purple-color !important;
	border: 0 !important;
	box-shadow: none;
	width: 25px !important;
	height: 25px !important;
	outline: none;

	&::after {
		display: none !important;
	}

	& .rangeslider__handle-tooltip {
		background-color: $purple-color !important;
		font-family: $font-family !important;

		&::after {
			border-top-color: $purple-color !important ;
			display: block !important;
		}
	}
}

.rangeslider__labels {
	margin-top: 5px !important;
	color: $small-text-color !important;
	font-family: $font-family !important;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}

.rangeslider__labels .rangeslider__label-item {
	height: 100%;
	top: 0;
	transform: none;
	font-size: 10px !important;
}
//rangeslider end

//radio buttons

form {
	font-family: $font-family;
	--text: $white-color;
	--radio: #565d69;
	--radio-checked: #564fb1;
	--radio-size: 20px;
	--width: 100px;
	--height: 140px;
	--border-radius: 10px;
	background: var(--background);
	border-radius: var(--border-radius);
	color: var(--text);
	position: relative;
	padding-top: 1rem;
	box-shadow: 0 10px 30px rgba(#414856, 0.05);
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	label {
		cursor: pointer;
	}
	.male-radio,
	.female-radio {
		display: flex;
		place-items: center;

		label {
			margin-left: 10px;
		}
	}
	input[type='radio'] {
		-webkit-appearance: none;
		-moz-appearance: none;
		position: relative;
		height: var(--radio-size);
		width: var(--radio-size);
		outline: none;
		margin: 0;
		cursor: pointer;
		border: 2px solid var(--radio);
		background: transparent;
		border-radius: 50%;
		display: grid;
		justify-self: end;
		justify-items: center;
		align-items: center;
		overflow: hidden;
		transition: border 0.5s ease;
		&::before,
		&::after {
			content: '';
			display: flex;
			justify-self: center;
			border-radius: 50%;
		}
		&::before {
			position: absolute;
			width: 50%;
			height: 50%;
			background: $small-text-color;
			z-index: 1;
			opacity: var(--opacity, 1);
			// animation: stretch-animate 0.3s ease-out 0.17s;
		}
		&::after {
			position: relative;
			width: 50%;
			height: 50%;
			background: var(--radio-checked);
			top: var(--y, 100%);
			// transition: top 0.5s cubic-bezier(0.48, 1.97, 0.5, 0.63);
		}
		&:checked {
			--radio: var(--radio-checked);
			&::after {
				--y: 0%;
				// animation: stretch-animate 0.3s ease-out 0.17s;
			}
			&::before {
				--opacity: 0;
				--y: -100%;
				// animation: stretch-animate 0.3s ease-out 0.17s;
			}
			~ input[type='radio'] {
				&::after {
					--y: -100%;
				}
			}
		}
		&:not(:checked) {
			&::before {
				--opacity: 1;
				// transition: opacity 0s linear 0.5s;
			}
		}
	}
}

@keyframes stretch-animate {
	0% {
		transform: scale(1, 1);
	}
	28% {
		transform: scale(1.15, 0.85);
	}
	50% {
		transform: scale(0.9, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}
//radio end

//filter buttons

.filter-buttons {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	padding-top: 1rem;

	.reset-button {
		font-family: $font-family;
		padding: 0.5rem 1rem;
		background-color: $black-color;
		color: $filter-button-color;
		border-radius: $border-rounded;
		cursor: pointer;
	}
	.apply-button {
		font-family: $font-family;
		padding: 0.5rem 1rem;
		background-color: $purple-color;
		color: $white-color;
		border-radius: $border-rounded;
		cursor: pointer;
		margin-left: 0.5rem;
	}
}
