.header-bg {
	background-color: $primary-color;

	.header {
		display: flex;
		place-items: center;
		padding: 1.35rem 0;

		.logo {
			margin-right: auto;
		}
		.navbar {
			order: 2;
			margin-left: 0;
			margin: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 3;
					margin: 0;
					margin-left: auto;
				}
			}
			.navlist {
				display: flex;
				place-items: center;
				gap: 1.5rem;
				margin: auto;

				& .active {
					background-color: $secondary-color;
					padding: 0.5rem 1rem;
					border-radius: $border-rounded;
				}
				@media screen and (max-width: 950px) {
					& {
						position: absolute;
						flex-direction: column;
						place-content: center;
						row-gap: 2rem;
						background-color: $primary-color;
						width: 100%;
						height: 100%;
						left: 0;
						top: -100%;
						transition: all 0.4s;
					}
					&.open {
						left: 0;
						top: 0;
						z-index: 99;
						transition: all 0.4s;

						&.open h3 {
							font-size: $h1-font-size;
						}
					}
				}
			}
		}
		/* hamburger button */
		.hamburger {
			cursor: pointer;
			position: relative;
			width: 24px;
			height: 24px;
			transition: all 0.3s;
			background-color: transparent;
			border: 0;
			display: none;
			z-index: 100;

			&:hover {
				transform: scale(1.15);
			}

			@media screen and (max-width: 950px) {
				& {
					display: block;
				}
			}
		}

		.hamburger-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transition: all 0.3s;
		}
		.open .hamburger-top {
			transform: rotate(45deg) translate(6px, 6px);
		}
		.hamburger-middle {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(8px);
			transition: all 0.3s;
		}
		.open .hamburger-middle {
			display: none;
		}
		.hamburger-bottom {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(16px);
			transition: all 0.3s;
		}
		.open .hamburger-bottom {
			transform: rotate(-45deg) translate(-6px, 6px);
		}

		.profile {
			order: 3;
			margin: 0;
			margin-left: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 2;
					margin-left: 0;
					margin: auto;
				}
			}
			display: flex;
			place-items: center;
			gap: 1rem;
			margin-left: auto;

			& span {
				color: $offWhite-color;
			}
			& .username {
				color: $lightGray-color;
				padding-left: 2px;
			}
		}
	}
}
