.header-bg {
	background-color: $primary-color;

	.header {
		display: flex;
		place-items: center;
		padding: 1.35rem 0;

		.logo {
			margin-right: auto;
		}
		.navbar {
			order: 2;
			margin-left: 0;
			margin: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 3;
					margin: 0;
					margin-left: auto;
				}
			}
			.navlist {
				display: flex;
				place-items: center;
				gap: 1.5rem;
				margin: auto;
				transition: all 0.3s;

				& .active {
					background-color: $secondary-color;
					padding: 0.5rem 1rem;
					border-radius: $border-rounded;
				}
				h3 {
					cursor: pointer;
					transition: all 0.3s;
				}
				:not(.active):hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
				@media screen and (max-width: 950px) {
					& {
						position: absolute;
						flex-direction: column;
						place-content: center;
						row-gap: 2rem;
						background-color: $primary-color;
						width: 100%;
						height: 100%;
						left: 0;
						top: -100%;
						transition: all 0.4s;
					}
					&.open {
						left: 0;
						top: 0;
						z-index: 99;
						transition: all 0.4s;

						&.open h3 {
							font-size: $h1-font-size;
						}
					}
				}
			}
		}
		/* hamburger button */
		.hamburger {
			cursor: pointer;
			position: relative;
			width: 24px;
			height: 24px;
			transition: all 0.3s;
			background-color: transparent;
			border: 0;
			display: none;
			z-index: 100;

			&:hover {
				transform: scale(1.15);
			}

			@media screen and (max-width: 950px) {
				& {
					display: block;
				}
			}
		}

		.hamburger-top {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transition: all 0.3s;
		}
		.open .hamburger-top {
			transform: rotate(45deg) translate(6px, 6px);
		}
		.hamburger-middle {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(8px);
			transition: all 0.3s;
		}
		.open .hamburger-middle {
			display: none;
		}
		.hamburger-bottom {
			position: absolute;
			top: 0;
			left: 0;
			width: 24px;
			height: 2px;
			background-color: $white-color;
			transform: rotate(0);
			transform: translateY(16px);
			transition: all 0.3s;
		}
		.open .hamburger-bottom {
			transform: rotate(-45deg) translate(-6px, 6px);
		}

		.profile {
			order: 3;
			margin: 0;
			margin-left: auto;
			@media screen and (max-width: 950px) {
				& {
					order: 2;
					margin-left: 0;
					margin: auto;
				}
			}
			display: flex;
			place-items: center;
			gap: 1rem;
			margin-left: auto;

			& span {
				color: $offWhite-color;
			}
			& .username {
				color: $lightGray-color;
				padding-left: 2px;
			}
		}
	}
}

//Footer
.footer-bg {
	background-color: $primary-color;

	.footer {
		display: grid;
		grid-template-columns: repeat(4, minmax(0px, 1fr));
		column-gap: 4rem;
		padding: 4rem 0;

		@media screen and (max-width: 800px) {
			& {
				grid-template-columns: repeat(1, minmax(0px, 1fr));
				padding: 2rem 0;
			}
		}

		.footer-info {
			@media screen and (max-width: 800px) {
				& {
					text-align: center;
				}
				& .social-icons {
					justify-content: center;
				}
			}
		}
		.footer-logo {
			margin-bottom: 1.5rem;
		}
		p {
			color: $lightGray-color;
			margin-bottom: 1.5rem;
		}
		.social-icons {
			display: flex;
			gap: 1.5rem;
		}
		.footer-company {
			margin-top: 3.5rem;

			@media screen and (max-width: 800px) {
				& {
					display: grid;
					grid-template-columns: 1fr 1fr;
					place-items: center;
					align-items: baseline;
				}
			}
			h2 {
				font-size: 1.125em;
				font-weight: $font-bold;
			}
			h3 {
				color: $lightGray-color;
				margin: 1rem 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
			.influencer-mobile {
				display: none;

				@media screen and (max-width: 800px) {
					& {
						display: flex;
						flex-direction: column;
					}
				}
				h3 {
					margin: 0.5rem 0;
				}
			}
			.advertise-mobile {
				display: none;

				@media screen and (max-width: 800px) {
					& {
						display: flex;
						flex-direction: column;
						margin-top: 1rem;
					}
				}

				h3 {
					margin: 0.5rem 0;
				}
			}
		}
		.influencer,
		.advertise {
			margin-top: 3.5rem;
			h2 {
				font-size: 1.125em;
				font-weight: $font-bold;
			}
			h3 {
				color: $lightGray-color;
				margin: 1rem 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
			@media screen and (max-width: 800px) {
				& {
					display: none;
				}
			}
		}
	}
	.copyright {
		display: flex;
		padding-bottom: 2rem;

		@media screen and (max-width: 800px) {
			& {
				flex-wrap: wrap;
				text-align: center;
			}
			h3 {
				width: 100vw;
				order: 2;
			}
			.terms {
				margin: auto;
				margin-bottom: 2rem;
			}
			.terms h3 {
				width: auto;
			}
		}

		h3 {
			margin-right: auto;
			color: $lightGray-color;
		}
		.terms {
			display: flex;
			margin-left: auto;
			gap: 2rem;

			h3 {
				color: $lightGray-color;
				transition: all 0.3s;

				&:hover {
					cursor: pointer;
					color: $offWhite-color;
					transition: all 0.3s;
				}
			}
		}
	}
}
