.search-card-bg {
	background-color: $black-color;

	.search-card {
		position: relative;
		display: flex;
		place-items: center;
		background-color: $primary-color;
		padding: 0.5rem 1rem;
		margin: 2rem auto;
		border-radius: $border-rounded;

		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
	}
	.card-header {
		margin-right: auto;
		font-weight: $font-semibold;
	}
	.searchbox {
		position: relative;
		margin: auto;
		width: 70%;
		@media screen and (max-width: 1300px) {
			& {
				margin-left: 10px;
				margin-right: 10px;
			}
		}
		@media screen and (max-width: 600px) {
			& {
				width: 100%;
				margin-top: 1rem;
			}
		}

		input {
			width: 100%;
			background-color: $secondary-color;
			color: $white-color;
			border: 1px solid $purple-color;
			border-radius: $border-rounded;
			padding: 0.75rem;
			padding-left: 40px;

			&::placeholder {
				font-family: $font-family;
			}
		}
		.search-icon {
			position: absolute;
			top: 0px;
			left: 0px;
			transform: translate(10px, 10px);
			color: $lightGray-color;
		}
	}
	.filter-button {
		position: relative;
		display: flex;
		place-items: center;
		column-gap: 5px;
		padding: 0.5rem;
		margin-left: auto;
		text-align: center;
		background-color: $purple-color;
		color: $white-color;
		border-radius: $border-rounded;
		cursor: pointer;
		z-index: 20;
		transition: all 0.3s;

		@media screen and (max-width: 600px) {
			& {
				margin: 1rem auto;
			}
		}
		img {
			width: 20px;
		}

		h3 {
			font-family: $font-family;
		}
	}
	.modal-container {
		position: absolute;
		bottom: -10px;
		right: 0;
		transform: translateY(100%);
		width: 275px;
		background-color: $primary-color;
		padding: 1rem 0rem;
		opacity: 0;
		z-index: -5;
		border-radius: $border-rounded;
		transition: opacity 0.3s;

		&.show {
			opacity: 1;
			z-index: 50;
			transition: opacity 0.3s;
		}
		@media screen and (max-width: 600px) {
			& {
				right: 50%;
				transform: translate(50%, 100%);
				bottom: 10px;
			}
		}

		.filter-modal {
			.filter-modal-header {
				padding-left: 1rem;
				padding-bottom: 1rem;
				margin-bottom: 1rem;
				border-bottom: 2px solid $thin-border-color;
			}
			.filter-lists {
				display: flex;
				flex-direction: column;
				gap: 1rem;
				text-align: left;
				padding: 0 1rem;

				.filter-header {
					color: $filter-header-color;
				}

				select {
					font-family: $font-family;
					margin-top: 0.5rem;
					width: 100%;
					background-color: $option-bg-color;
					color: $white-color;
					padding: 1rem;
					border: 0;
					appearance: none;
					background-image: url('/down-arrow.png');
					background-repeat: no-repeat;
					background-position: calc(100% - 1rem) center;
					&:focus {
						outline: 0;
					}
					option {
						font-family: $font-family;

						&:focus {
							outline: 0;
							border: 0;
						}
					}
				}
			}
		}
	}
}
.modal-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 150vh;
	background-color: transparent;
	opacity: 0;
	z-index: -19;
	transition: all 0.3s;

	&.show {
		background-color: $secondary-color;
		opacity: 0.6;
		transition: all 0.3s;
		z-index: 19;
	}
}

//profiles
.profile-section {
	background-color: $black-color;
	display: grid;
	grid-template-columns: repeat(3, minmax(0px, 1fr));
	gap: 1.5rem;

	@media screen and (max-width: 1300px) {
		& {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}
	}
	@media screen and (max-width: 900px) {
		& {
			grid-template-columns: repeat(1, minmax(0px, 1fr));
		}
	}

	.profile-card {
		background-color: $primary-color;
		text-align: center;
		padding: 2.5rem;
		border-radius: $border-rounded;

		.profile-name {
			margin-top: 1rem;
			margin-bottom: 1rem;
			font-weight: $font-semibold;
		}
		.location,
		.time {
			display: flex;
			justify-content: center;
			gap: 1rem;
			margin-bottom: 1rem;
			color: $lightGray-color;
		}
		.social-icons {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 1rem;
		}
		.profile-info {
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;
			color: $lightGray-color;

			span {
				color: $offWhite-color;
			}

			h3 {
				border: 1px dashed $lightGray-color;
				padding: 0.75rem;
			}
		}
	}
}

//Pagination
.pagination-section {
	display: flex;
	padding: 2rem 0;
	color: $offWhite-color;

	h3 {
		font-weight: $font-normal !important;
	}

	.previous-button {
		display: flex;
		margin-right: auto;
		gap: 0.5rem;
		padding: 1rem 0;
		transition: all 0.3s;

		&:hover {
			color: $lightGray-color;
			transition: all 0.3s;
			cursor: pointer;
		}
	}
	.pagination {
		display: flex;
		margin: auto;
		transition: all 0.3s;
		h3 {
			height: 40px;
			width: 40px;
			padding: 1rem;
			line-height: 10px;
			&.active {
				background-color: $secondary-color;
				border-radius: 50%;
			}
			&:hover {
				color: $lightGray-color;
				transition: all 0.3s;
				cursor: pointer;
			}
		}
		@media screen and (max-width: 500px) {
			.p-8,
			.p-9 {
				display: none;
			}
		}
	}
	.next-button {
		display: flex;
		margin-left: auto;
		gap: 0.5rem;
		padding: 1rem 0;
		transition: all 0.3s;

		&:hover {
			color: $lightGray-color;
			transition: all 0.3s;
			cursor: pointer;
		}
	}
}
