.search-card-bg {
	background-color: $black-color;

	.search-card {
		display: flex;
		place-items: center;
		background-color: $primary-color;
		padding: 0.5rem 1rem;
		margin: 2rem auto;
		border-radius: $border-rounded;
	}
	.card-header {
		margin-right: auto;
	}
	.searchbox {
		position: relative;
		margin: auto;
		width: 70%;
		@media screen and (max-width: 1300px) {
			& {
				margin-left: 10px;
				margin-right: 10px;
			}
		}

		input {
			width: 100%;
			background-color: $secondary-color;
			border: 1px solid $purple-color;
			border-radius: $border-rounded;
			padding: 0.75rem;
			padding-left: 40px;

			&::placeholder {
				font-family: $font-family;
			}
		}
		.search-icon {
			position: absolute;
			top: 0px;
			left: 0px;
			transform: translate(10px, 10px);
			color: $lightGray-color;
		}
	}
	.filter-button {
		display: flex;
		place-items: center;
		column-gap: 5px;
		padding: 0.5rem;
		margin-left: auto;
		background-color: $purple-color;
		color: $white-color;
		border-radius: $border-rounded;
	}
}

//profiles
.profile-section {
	background-color: $black-color;
	display: grid;
	grid-template-columns: repeat(3, minmax(0px, 1fr));
	gap: 1.5rem;

	@media screen and (max-width: 1300px) {
		& {
			grid-template-columns: repeat(2, minmax(0px, 1fr));
		}
	}
	@media screen and (max-width: 900px) {
		& {
			grid-template-columns: repeat(1, minmax(0px, 1fr));
		}
	}

	.profile-card {
		background-color: $primary-color;
		text-align: center;
		padding: 2.5rem;
		border-radius: $border-rounded;

		.profile-name {
			margin-bottom: 1rem;
		}
		.location,
		.time {
			display: flex;
			justify-content: center;
			gap: 1rem;
			margin-bottom: 1rem;
		}
		.social-icons {
			display: flex;
			justify-content: space-evenly;
			margin-bottom: 1rem;
		}
		.profile-info {
			display: flex;
			justify-content: space-evenly;
			gap: 1rem;

			h3 {
				border: 1px dashed $lightGray-color;
				padding: 0.75rem;
			}
		}
	}
}
