// Variables
//Colors
$white-color: white;
$black-color: black;

$primary-color: #17181b;
$secondary-color: #202124;
$offWhite-color: #959cb6;
$lightGray-color: #637381;
$purple-color: #564fb1;

$body-color: $black-color;

//Typography
$font-family: 'Sen', sans-serif;

$h1-font-size: 1.5rem; //24px
$h2-font-size: 1rem; //16px
$h3-font-size: 0.875rem; //14px
$normal-font-size: 0.938rem; //base
$h4-font-size: 0.8125rem; //13px
$h5-font-size: 0.75rem; //12px

$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

//Border
$border-rounded: 5px;
